{% extends 'base.html.twig' %}

{% block title %}Mon Blog
{% endblock %}

{% block body %}

	<div class="m-wrap-home">
		<h1 class="main-title">Mon Blog</h1>

		<h3>Recherche par mot clef:</h3>
		<p class="home-link">
			<a class="article-links" href="{{ path ('afficherParContenu', { contenu : "magique"}) }}">Articles contenants le mot "magique"</a>
		</p>

		<h3>Articles par années:</h3>
		<ul>
			<li class="home-link">
				<a class="article-links" href='{{path ('afficherParAnnee', { annee : 2015}) }}'>2015</a>
			</li>
			<li class="home-link">
				<a class="article-links" href='{{path ('afficherParAnnee', { annee : 2018}) }}'>2018</a>
			</li>
			<li class="home-link">
				<a class="article-links" href='{{path ('afficherParAnnee', { annee : 2021}) }}'>2021</a>
			</li>
		</ul>

		<h3>Article par ID</h3>
		<ul>
			<li class="home-link">
				<a class="article-links" href='{{path ('afficherById', {id : 11}) }}'>Article dont l'id est 11</a>
			</li>
			<li class="home-link">
				<a class="article-links" href='{{path ('afficherById', {id : 12}) }}'>Article dont l'id est 12</a>
			</li>
			<li class="home-link">
				<a class="article-links" href='{{path ('afficherById', {id : 13}) }}'>Article dont l'id est 13</a>
			</li>
		</ul>

	</div>
{% endblock %}
{% block javascripts %}
	{# ne pas overrider le script parent #}
	{{ parent() }}
	<script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}
