{% extends 'base.html.twig' %}

{% block title %}Articles de mon super Blog{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mon super blog</h1>
    <p>Exercice: Créer un tableau de nombre aléatoires, ceux-ci seront affiché de manière à séparer les nombres paires des nombres impaires
    </p>

    <div>
        <h3> {{titre_nb}}</h3>
        <table>
            <th>pairs</th>
            {# Triage les chiffres pairs #}
                {% for item in tab_nombres|sort %}
                    {% if item is even %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            <th>impairs</th>
            {# Triage les chiffres impairs #}

                {% for item in tab_nombres|sort %}
                    {% if item is odd %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>
    <div>
        <p> Exercice: Afficher le plus grand nombre de votre tableau de nombre</p>
        {{ max(tab_nombres) }}
    </div>
       <div>
        <p> Exercice: Afficher aléatoirement une des valeurs de mon tableau: </p>
        {{ random(tab_nombres)}}
    </div>
</div>
{% endblock %}
